section.feedback
  .container
    .feedback__grid.pure-g
      .pure-u-1.pure-u-lg-1-2
        .feedback__map#map
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2875.365624022954!2d42.71952601550539!3d43.88969367911389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40582b4265275c9f%3A0x1a6768ae4d92a528!2z0J_QuNC60LXRgtC90YvQuSDQv9C10YAuLCAxMNCwLCDQmtC40YHQu9C-0LLQvtC00YHQuiwg0KHRgtCw0LLRgNC-0L_QvtC70YzRgdC60LjQuSDQutGA0LDQuSwg0KDQvtGB0YHQuNGPLCAzNTc3MDA!5e0!3m2!1sru!2sua!4v1564675635181!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

      .pure-u-1.pure-u-lg-1-2
        p.feedback__title.title напишите нам
        form.feedback__form.form#formFeedback
          label.form-label(for="user-name") Имя
          .form-control__wrapper
            input.form-input#user-name(
              type="text",
              name="user-name",
              placeholder="Введите имя"
            )
          label.form-label(for="user-email") email
          .form-control__wrapper
            input.form-input#user-email(
              type="text",
              name="user-email",
              placeholder="Введите email"
            )
          label.form-label(for="user-message") сообщение
          .form-control__wrapper.form-control__wrapper--textarea
            textarea.form-textarea#user-message(
              type="text",
              name="user-message",
              rows="1",
              placeholder="Введите сообщение"
            )
          button.button.button--arrow(
            type="submit"
          ) отправить
            svg.arrow
              use(xlink:href="img/icons/arrow-r-golden.svg#arrow")
