section.about.about--room
  span.back-text.back-text--about номер
  .container
    .about__grid.pure-g
      .pure-u-1.pure-u-lg-1-2
        h2.about__title.title.title--dash.title--dash-left#about номер
        .about__desc.inner-block
          p
            | Современный уютный однокомнатный номер с собственной ванной комнатой. Из окон большинства номеров открывается невероятно живописный вид на лес и реку, окна одного из номеров выходят и в сад. В номерах двуспальные кровати, возможна установка спального места для ребенка или двоих малышей.

          ul
            li Размещение: <b>2 человека</b>
            li Площадь номера: <b>15 м²</b>

      .pure-u-1.pure-u-lg-1-2
        figure.about__img.content-img
          img(src="img/content/about/img-3.jpg", alt="")

    .about__features
      .about__feature.about-feature(
        data-aos="fade-up"
      )
        .about-feature__icon
          <svg class="icon-svg icon-svg-wifi">
            <use xlink:href="#wifi"></use>
          </svg>
        span.about-feature__title бесплатный wi-fi
        span.about-feature__notes во всех номерах
      .about__feature.about-feature(
        data-aos="fade-up",
        data-aos-delay="100"
      ) 
        .about-feature__icon
          <svg class="icon-svg icon-svg-television">
            <use xlink:href="#television"></use>
          </svg>
        span.about-feature__title LCD-телевизор
        span.about-feature__notes 20 каналов
      .about__feature.about-feature(
        data-aos="fade-up",
        data-aos-delay="200"
      )
        .about-feature__icon
          <svg class="icon-svg icon-svg-bathtub">
            <use xlink:href="#bathtub"></use>
          </svg>
        span.about-feature__title туалет и душ
        span.about-feature__notes в номере
      .about__feature.about-feature(
        data-aos="fade-up",
        data-aos-delay="300"
      )
        .about-feature__icon
          <svg class="icon-svg icon-svg-bathrobe">
            <use xlink:href="#bathrobe"></use>
          </svg>
        span.about-feature__title уютный халат
        span.about-feature__notes тапочки, фен и полотенца



