section.price
  span.back-text.back-text--price номера и цены
  .container.container--wider
    h2.price__title.title.title--dash.title--dash-bottom#price номера и цены
    .price__grid
      .price__col(
        data-aos="flip-left"
      )
        .price__item.price-item
          img(src="img/content/price/img-1.jpg", alt="")
          h3.price-item__title эконом
          .price-item__cost
            | 1500-2500
            span.price-item__cost-money рублей
          a.price-item__more(href="room.html") подробнее
          button.button(
            data-micromodal-trigger="modal-booking"
          ) забронировать
      .price__col(
        data-aos="flip-left",
        data-aos-delay="100"
      )
        .price__item.price-item
          img(src="img/content/price/img-2.jpg", alt="")
          h3.price-item__title стандарт
          .price-item__cost
            | 2200-3900
            span.price-item__cost-money рублей
          a.price-item__more(href="room.html") подробнее
          button.button(
            data-micromodal-trigger="modal-booking"
          ) забронировать
      .price__col(
        data-aos="flip-left",
        data-aos-delay="200"
      )
        .price__item.price-item
          img(src="img/content/price/img-3.jpg", alt="")
          h3.price-item__title стандарт +
          .price-item__cost
            | 2300-3900
            span.price-item__cost-money рублей
          a.price-item__more(href="room.html") подробнее
          button.button(
            data-micromodal-trigger="modal-booking"
          ) забронировать
      .price__col(
        data-aos="flip-left",
        data-aos-delay="300"
      )
        .price__item.price-item
          img(src="img/content/price/img-4.jpg", alt="")
          h3.price-item__title люкс
          .price-item__cost
            | 2600-4900
            span.price-item__cost-money рублей
          a.price-item__more(href="room.html") подробнее
          button.button(
            data-micromodal-trigger="modal-booking"
          ) забронировать
        